.project {
    &__image {
        max-width: 600px;
        width: 100%;
        transform: translateX(-150vw);
    }

    .curly {
        stroke-dasharray: 1310px;
        stroke: black;
        stroke-width: 1px;
        stroke-linejoin: round;
        stroke-linecap: round;
    }
}
