.project {
    &__image {
        max-width: 600px;
        height: auto;
        transform: translateX(-150vw);

        &>img {
            max-width: 600px;
            width: 100%;
            min-height: 0;
            height: auto;
        }
    }

    .curly {
        stroke-dasharray: 1310px;
        stroke-dashoffset: 0;
        stroke: black;
        stroke-width: 1px;
        stroke-linejoin: round;
        stroke-linecap: round;
    }
}
