.hero {
    height: 50vh;
    &__bg {
        background-image: url('../../assets/sun-sky.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    &__overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0), white);
    }
}
