.curly {
    stroke: black;
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke-linecap: round;

    &--header {
        stroke-dasharray: 1427px;
        stroke-dashoffset: 1427px;
        transition: stroke-dashoffset .5s;
    }

    &--nav {
        transition: stroke-dashoffset .5s;
        stroke-dasharray: 1233px;
        stroke-dashoffset: 1233px;
    }

    &--tree {
        stroke-width: 20px;
        transition: stroke-dashoffset 1s;
        stroke-dasharray: 20905px;
        stroke-dashoffset: 20905px;

        &.mobile {
            stroke-width: 30px;
            stroke-dasharray: 15333px;
            stroke-dashoffset: 15333px;
        }

        &.dash-in {
            transition: stroke-dashoffset 1s;
        }
    }

    &.dash-in {
        stroke-dashoffset: 0;
    }
}

.flip-x {
    transform: scaleX(-1);
}
