.about {
    padding-bottom: 5rem;

    .curly {
        stroke-dasharray: 1427px;
        stroke: black;
        stroke-width: 10px;
        stroke-linejoin: round;
        stroke-linecap: round;
    }

    #curly1svg {
        transform: scaleX(-1);
    }
}
