@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');

.home {
    min-height: 100vh;

    .profile {
        margin-top: -25vh;
        transform: translateY(-50vh);

        &__arrow-text {
            font-family: 'Liu Jian Mao Cao', cursive;
            top: -80px;
            right: -120px;
        }

        &__arrow {
            top: -100px;
            right: -200px;
        }
    }

    .introduction {
        opacity: 0;
        transform: translateY(-20px);
    }

    #magic-cloud {
        top: -10px;
        width: 150px;
        height: 80px;

        & + h1 {
            z-index: -2;
        }

        &:before {
            content: '';
            position: absolute;
            right: 70px;
            top: 0;
            height: 80px;
            width: 100vw;
            background-color: white;
            z-index: -1;
        }
    }
}
