@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');

.home {
    min-height: 100vh;
    padding-bottom: 5rem;

    .profile {
        margin-top: -25vh;
        transform: translateY(-50vh);

        &__arrow-text {
            font-family: 'Liu Jian Mao Cao', cursive;
            top: -80px;
            right: -120px;
        }

        &__arrow {
            top: -100px;
            right: -200px;
        }
    }

    .introduction {
        opacity: 0;
        transform: translateY(-20px);
    }

    #magic-cloud {
        top: -10px;
        width: 150px;
        height: 80px;

        & + h1 {
            z-index: -2;
        }

        &:before {
            content: '';
            position: absolute;
            right: 70px;
            top: 0;
            height: 80px;
            width: 100vw;
            background-color: white;
            z-index: -1;
        }
    }
    #carwagon {
        width: 180px;
        height: 55px;
        bottom: 8px;
    }

    #car {
        bottom: 1px;
        left: 0;
    }

    #car-path1 {
        stroke-dasharray: 1636px;
        stroke-dashoffset: 1636px;
    }

    #car-path2 {
        stroke-dasharray: 2015px;
        stroke-dashoffset: 2015px;
    }

    #wagon-path1 {
        stroke-dasharray: 2226px;
        stroke-dashoffset: 2226px;
    }

    #wagon-path2 {
        stroke-dasharray: 1894px;
        stroke-dashoffset: 1894px;
    }

    #gas {
        bottom: 8px;
        left: 60px;
    }

    #wagon {
        bottom: 0;
        right: 0;
    }

    #road1,
    #road2 {
        height: 1px;
    }

    #road1 {
        bottom: 20px;
        left: 11vw;
    }
    
    #road2 {
        bottom: 0;
        right: 11vw;
    }
}
