@import url("https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap");
.home {
  min-height: 100vh;
  padding-bottom: 5rem; }
  .home .profile {
    margin-top: -25vh;
    transform: translateY(-50vh); }
    .home .profile__arrow-text {
      font-family: 'Liu Jian Mao Cao', cursive;
      top: -80px;
      right: -120px; }
    .home .profile__arrow {
      top: -100px;
      right: -200px; }
  .home .introduction {
    opacity: 0;
    transform: translateY(-20px); }
  .home #magic-cloud {
    top: -10px;
    width: 150px;
    height: auto; }
    .home #magic-cloud .animation-bounce {
      animation: bounce infinite 5s; }

@keyframes bounce {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }
    .home #magic-cloud + h1 {
      z-index: -2; }
    .home #magic-cloud:before {
      content: '';
      position: absolute;
      right: 70px;
      top: 0;
      height: 80px;
      width: 100vw;
      background-color: white;
      z-index: -1; }
    .home #magic-cloud .scroll-text {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .home #carwagon {
    width: 180px;
    height: 55px;
    bottom: 8px; }
  .home #car {
    bottom: 1px;
    left: 0; }
  .home #car-path1 {
    stroke-dasharray: 1636px;
    stroke-dashoffset: 1636px; }
  .home #car-path2 {
    stroke-dasharray: 2015px;
    stroke-dashoffset: 2015px; }
  .home #wagon-path1 {
    stroke-dasharray: 2226px;
    stroke-dashoffset: 2226px; }
  .home #wagon-path2 {
    stroke-dasharray: 1894px;
    stroke-dashoffset: 1894px; }
  .home #gas {
    bottom: 8px;
    left: 60px; }
  .home #wagon {
    bottom: 0;
    right: 0; }
  .home #road1,
  .home #road2 {
    height: 1px; }
  .home #road1 {
    bottom: 20px;
    left: 11vw; }
  .home #road2 {
    bottom: 0;
    right: 11vw; }
