@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Josefin+Sans:wght@500&family=Sacramento&display=swap');
@import './styles/animations.css';

body {
  margin: 0;
  font-family: 'DM Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h4 {
  & > a {
    font-family: 'Josefin Sans' !important;
    font-weight: 500 !important;
  }
}

h1 {
  font-family: 'Sacramento', cursive !important;
}

html {
  scroll-behavior: smooth;
}
