.loading {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 9999;
}

.loading svg {
  width: 150px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading #loading1 {
  stroke-dasharray: 719px;
  stroke-dashoffset: 719px;
  animation: twirl 1.5s ease forwards;
}

.loading #loading2 {
  stroke-dasharray: 423px;
  stroke-dashoffset: 423px;
  animation: twirl 1.5s ease .1s forwards;
}

.loading #loading3 {
  stroke-dasharray: 226px;
  stroke-dashoffset: 226px;
  animation: twirl 1.5s ease .2s forwards;
}

.loading #loading4 {
  stroke-dasharray: 291px;
  stroke-dashoffset: 291px;
  animation: twirl 1.5s ease .3s forwards;
}

.loading #loading5 {
  stroke-dasharray: 415px;
  stroke-dashoffset: 415px;
  animation: twirl 1.5s ease .4s forwards;
}

.loading #loading6 {
  stroke-dasharray: 588px;
  stroke-dashoffset: 588px;
  animation: twirl 1.5s ease .5s forwards;
}

.loading #loading7 {
  stroke-dasharray: 423px;
  stroke-dashoffset: 423px;
  animation: twirl 1.5s ease .6s forwards;
}

.loading #loading1,
.loading #loading2,
.loading #loading3,
.loading #loading4,
.loading #loading5,
.loading #loading6,
.loading #loading7 {
  stroke: black;
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loading.fade-out {
  animation: hide .5s ease forwards;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes twirl {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
  }
}
